<!DOCTYPE html>
<html>

<head>
	<title>Cervical Cancer Awareness Website</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="shortcut icon" href="https://freepngimg.com/thumb/symbol/36430-5-cancer-logo-transparent.png"
		type="image/x-icon">
</head>

<body>

	<nav>
		<li><a class="active" href="/">Cancer Awareness</a></li>
		<li><a href="#symptoms">Symptoms</a></li>
		<li><a href="#impinfo">Important Info</a></li>
		<li><a href="#precautions">Precautions</a></li>
		<!-- <li><a href="page2.ejs">Quick Links</a></li> -->
		<li><a href="/link">Quick Links</a></li>
		<li><a href="/link/#mythbusters">Myths vs Facts</a></li>

		<!-----<li><a class="active" href="index.ejs">Cancer Awareness</a></li>
		<li><a href="#symptoms">Symptoms</a></li>
		<li><a href="#impinfo">Important Info</a></li>
		<li><a href="<%#- include('page2') %>">Quick Links</a></li>
		<li><a href="<%#- include('page2') %>">Myths vs Facts</a></li>---->
		<li>
			<form method="get" action="/ask">
				<button class="btn">Ask us!</button>
			</form>
		</li>
	</nav>

	<div class="content">

		<div class="image1">
			<img src="./img/main-img-cervical.jpg">
		</div>

		<div class="Gif">

			<div class="Gif2">
				<img src="img/gif/giphy2.webp" style="width:100%">
			</div>
		</div>
		<hr><br>-

		<center>
			<h1 id="symptoms">#IndiaWillDefeatCervicalCancer</h1>
		</center>
		<center>
			<p id="hashtag1">Government of India is taking all necessary steps to ensure that we are prepared well to
				face the challenges and threat posed by the growing CERVICAL CANCER. With India facing a significant
				burden of cervical cancer cases, different proactive approach seeks to protect young girls from
				preventable diseased and deaths.</p>
		</center>

		<div>
			<center><img src="/img/symptoms-cervical.jpg"></center>
		</div>

		<div class="CauseSolution">
			<div class="Causes">
				<img src="/img/cause2-cervical.jpg" style="width:100%">
			</div>

		</div>
		<hr>

		<div class="imp-info-area" id="impinfo">
			<h3 class="important-heading">
				<strong>Important Information For Cervical Cancer</strong>
			</h3>
			<div class="block">
				<div class="icon">
					<img src="img/impinfo/icon-one.png" alt="" />
				</div>
				<div class="text-area">
					<h3><strong>+91-1800-22-1951</strong></h3>
					<p>Dial National Helpline Number</p>
				</div>
			</div>

			<div class="block">
				<div class="icon">
					<a href="mailto:ncov2019@gov.in">
						<img src="mailto:Info@indiancancersociety.org" alt="" />
					</a>
				</div>
				<div class="text-area">
					<a href="mailto:Info@indiancancersociety.org">
						<h3><strong>Info@indiancancersociety.org</strong></h3>
						<p>Helpline Email ID </p>
					</a>
				</div>
			</div>

			<div class="block">
				<div class="icon">
					<a href="https://cdn.who.int/media/docs/default-source/country-profiles/cervical-cancer/cervical-cancer-ind-2021-country-profile-en.pd"
						target="_blank">
						<img src="img/impinfo/icon-four.png" alt="" />
					</a>
				</div>
				<div class="text-area">
					<a href="https://cdn.who.int/media/docs/default-source/country-profiles/cervical-cancer/cervical-cancer-ind-2021-country-profile-en.pdf"
						target="_blank">
						<h3><strong>INDIA'S PROFILE 2021</strong></h3>
					</a>
					<a href="https://cdn.who.int/media/docs/default-source/country-profiles/cervical-cancer/cervical-cancer-ind-2021-country-profile-en.pd"
						target="_blank">
						<p>by WHO</p>
					</a>
				</div>
			</div>
		</div>
		<br>
		<hr><br>

		<section class="followSteps" id="precautions">
			<div class="stepHeading">
				<div class="container text-center">
					<h2>Follow these simple and easy Precautionary measures, and help yourself & those around you to
						stay healthy. </h2>
				</div>
			</div>
			<div class="steps-cancer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-4">
							<div class="cancerprecaution">
								<img src="/img/precaution1.jpg" alt="icon">
								<span>Get Proper <br>Vaccination </span>

							</div>
						</div>
						<div class="col-xs-4">
							<div class="cancerprecaution">
								<img src="/img/precaution2.jpg" alt="icon">
								<span>Don't Smoke </span>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="cancerprecaution">
								<img src="/img/pre3.jpg" alt="icon">
								<span>Cervical Screening <br>(PAP Test) </span>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-xs-4">
							<div class="cancerprecaution">
								<img src="/img/precaution4.jpg" alt="icon">
								<span>Safe Sex <br> </span>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="cancerprecaution">
								<img src="/img/pre4.jpg" alt="icon">
								<span>Regular Exercise <br> </span>
							</div>
						</div>
						<div class="col-xs-4">
							<div class="cancerprecaution">
								<img src="/img/pre6.jpg" alt="icon">
								<span> Balanced Diet <br>and Healthy Living</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<hr>
		<div class="social-hub" id="socialhub">
			<h3 class="important-heading">
				<strong> Government's concern</strong>
			</h3>
			<div class="social-hub text-center">
				<h2> The fight against cervical cancer is not just a medical battle; it is a societal commitment to the
					well-being of women and families across the nation. Through continued dedication and collaborative
					action, India can pave the way for a healthier future, free from the shadows cast by this silent and
					deadly diseases.

					<p> Thanks to the Indian Government, and especially to Ms. Nirmala Sitharaman, for bringing
						attention to the critical issue of cervical cancer.</p>
				</h2>
			</div>
			<iframe width="560" height="315" src="https://www.youtube.com/embed/7wTOGCuX1_g?si=CBeWeOPDq1XQxgWV"
				title="YouTube video player" frameborder="0"
				allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
				referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
		</div>
		<hr>
	</div>

</body>

</html>