<!DOCTYPE html>
<html>

<head>
	<title>Cervical Cancer Awareness Website</title>
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/page2.css">
</head>

<body>

	<nav>
		<li><a class="active" href="/">Covid Awareness</a></li>
		<li><a href="/#symptoms">Symptoms</a></li>
		<li><a href="/#impinfo">Important Info</a></li>
		<li><a href="/#precautions">Precautions</a></li>
		<li><a href="#quicklinks">Quick Links</a></li>
		<li><a href="#mythbusters">Myths vs Facts</a></li>
		<li>
			<form method="get" action="/ask">
				<button class="btn">Ask us!</button>
			</form>
		</li>
	</nav>

	<div class="content">

		<div class="quicklinks" id="quicklinks">
			<h1 align="center">Quick Links</h1>
			<div class="container">
				<div class="infoboxes">

					<a href="https://www.indiatoday.in/health/story/all-about-cervical-cancer-vaccination-that-got-special-push-in-budget-2024-2496227-2024-02-01"
						title="all-about-cervical-cancer-vaccination" target="_blank">
						<img src="/img/link5.jpg" />
					</a>
					<a href="https://www.apollodiagnostics.in/blog/incidence-of-cervical-cancers-in-india-role-of-hpv-testing-&-vaccination"
						title="Incidence of cervical cancer in India" target="_blank">
						<img src="/img/llink2.jpg" />
					</a>



					<a href="https://www.who.int/news-room/fact-sheets/detail/cervical-cancer"
						title="WHO fact sheets onn cervical cancer" target="_blank">
						<img src="/img/kink3.jpg" />
					</a>
					<a href="https://www.msn.com/en-xl/health/other/bd-indias-concerted-commitment-towards-creating-awareness-on-cervical-cancer/ar-BB1jG78p"
						title="BD India's Concerted Commitment Towards Creating Awareness on Cervical Cancer"
						target="_blank">
						<img src="/img/link4.jpg" />
					</a>
				</div>
			</div>
		</div>
		<hr>

		<div class="overview">

			<h2 style="text-align: center;"> Cervical Cancer: Overview </h2>

			<div class="Gif3">
				<img src="/img/gif2222.webp" style="width:100%">
			</div>

			<center>
				<p> Cervical cancer is cancer that starts in the cells of the cervix. The cervix is the lower, narrow
					end of the uterus (womb). The cervix connects the uterus to the vagina (birth canal). Cervical
					cancer usually develops slowly over time. Before cancer appears in the cervix, the cells of the
					cervix go through changes known as dysplasia, in which abnormal cells begin to appear in the
					cervical tissue. Over time, if not destroyed or removed, the abnormal cells may become cancer cells
					and start to grow and spread more deeply into the cervix and to surrounding areas. </p>
				<p> Anyone with a cervix is at risk for cervical cancer. It occurs most often in people over age 30.
					Long-lasting infection with certain types of human papillomavirus (HPV) is the main cause of
					cervical cancer. HPV is a common virus that is passed from one person to another during sex. At
					least half of sexually active people will have HPV at some point in their lives, but few will get
					cervical cancer. Screening tests and the HPV vaccine can help prevent cervical cancer. When cervical
					cancer is found early, it is highly treatable and associated with long survival and good quality of
					life.</p>
		</div>

		<br>
		<hr color="white">
		<hr>

		<center>
			<p id="mythbusters"><b>MYTH BUSTER</b></p>
		</center>
		<div class="myths">
			<div class="Myth">
				<img src="/img/mythvs2.jpg" style="width:100%">
			</div>


		</div>
	</div><br>
	<hr>
	<div class="social-hub" id="socialhub">

		<div class="social-hub text-center">
			<h2> Let's stand united in our mission to eradicate cervical cancer through education, proactive screenings,
				and support.

				<p> Together, we can empower individuals, save lives, and pave the way for a healthier future. Take
					action today and join the fight against cervical!</p>
			</h2>
		</div>

	</div>
	<hr>



</body>

</html>