<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p style="font-weight: bold;">Abnormal-Bleeding and Unusual Vaginal Discharge</p>
        <br>
        <p style="text-align: left;">Abnormal vaginal bleeding and unusual vaginal discharge are common but concerning gynecological issues that can arise from a variety of causes. Abnormal bleeding, which includes bleeding outside the regular menstrual cycle, heavy or prolonged periods, or postmenopausal bleeding, can be due to hormonal imbalances, such as those seen in polycystic ovary syndrome (PCOS) or thyroid disorders, as well as uterine abnormalities like fibroids, polyps, and adenomyosis. Pregnancy-related complications, including miscarriage and ectopic pregnancy, infections such as pelvic inflammatory disease (PID), and cancers like endometrial or cervical cancer, are also significant causes. Certain medications, especially hormonal contraceptives, can lead to irregular bleeding as well. Management of abnormal bleeding involves hormonal therapies, non-hormonal medications like NSAIDs, surgical interventions, and addressing any underlying conditions such as infections or cancer.</p>
        <br>
        <p style="text-align: left;">Unusual vaginal discharge, which differs from normal in terms of color, consistency, volume, or smell, often results from infections, including bacterial vaginosis, yeast infections, and sexually transmitted infections (STIs) like gonorrhea and chlamydia. Hormonal changes during pregnancy or menopause, the presence of foreign bodies such as forgotten tampons or contraceptive devices, and cervical or vaginal abnormalities like polyps or cervicitis can also cause abnormal discharge.</p>
        
        <br>

        <img src="/img/pelvic-inflammatory-disease-symptoms-03.jpg" height="120px" width="150px" alt="">

        <br>

        <h1 style="text-align: left;">NGOs Working for Cervical Cancer in India</h1>
        <ul  style="text-align: left; list-style: none;">
            <a href="https://www.indiancancersociety.org/" target="_blank"><li>Indian Cancer Society</li></a>
            <a href="https://www.bioconfoundation.org/" target="_blank"><li>Biocon Foundation</li></a>
            <a href="https://www.capedindia.org/" target="_blank"><li>Caped(Cancer Awareness, Prevention, and Early Detection Trust)</li></a>
        </ul>
    </div>
</body>
</html>

