<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p style="font-weight: bold;">Lack of Appetite and Certain Weightloss</p>
        <br>
        <p style="text-align: left;">Lack of weight or significant weight loss is not considered a direct cause of cervical cancer; however, there are indirect relationships between weight and cervical cancer risk. One significant aspect is the impact of poor nutrition associated with being underweight or experiencing significant weight loss. Inadequate nutrition can weaken the immune system, making the body less effective at fighting off infections, including human papillomavirus (HPV), a major risk factor for cervical cancer. Moreover, rapid weight loss or extreme underweight can disrupt hormonal balance, potentially affecting the menstrual cycle and reproductive hormones, which may contribute to an increased risk of cervical cancer. </p>
        
        <br>

        <p style="text-align: left;">Furthermore, lifestyle factors often associated with being underweight, such as smoking, can weaken the immune system and increase the risk of HPV infection progressing to cervical cancer. Additionally, women who are underweight or experiencing significant weight loss may be less likely to prioritize regular cervical cancer screening, leading to delayed diagnosis and treatment, which can result in the progression of precancerous lesions to invasive cervical cancer. Therefore, while lack of weight or certain weight loss may not directly cause cervical cancer, maintaining a healthy weight and lifestyle, along with regular cervical cancer screening, are essential for overall health and cancer prevention.</p>

        <br>

        <img src="/img/health-issues-that-cause-unexplained-weight-loss-feat.webp" height="200px" width="400px">

        <br>

        <h1 style="text-align: left;">NGOs Working for Cervical Cancer in India</h1>
        <ul  style="text-align: left; list-style: none;">
            <a href="https://www.indiancancersociety.org/" target="_blank"><li>Indian Cancer Society</li></a>
            <a href="https://www.bioconfoundation.org/" target="_blank"><li>Biocon Foundation</li></a>
            <a href="https://www.capedindia.org/" target="_blank"><li>Caped(Cancer Awareness, Prevention, and Early Detection Trust)</li></a>
        </ul>
    </div>
</body>
</html>