<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p style="font-weight: bold;">Pelvic-Pain</p>
        <br>

        <p style="text-align: left;">Pelvic pain is a common symptom that can arise from various causes, including gynecological conditions, urinary tract issues, gastrointestinal problems, or musculoskeletal disorders. In the context of cervical cancer, pelvic pain often signifies an advanced stage of the disease. As cervical cancer progresses, the tumor can grow large enough to press on surrounding tissues and organs, causing discomfort or pain in the pelvic region. This pressure can affect the bladder, rectum, or lower back. Additionally, cervical cancer can cause inflammation in the cervix and nearby areas, and if the cancerous tissue becomes infected, it can lead to further pain. The spread of advanced cervical cancer to nearby tissues and organs, including the pelvic lymph nodes, bones, and other structures, can also contribute to significant pain. Treatments for cervical cancer, such as surgery, radiation, or chemotherapy, may lead to pelvic pain due to inflammation and scarring of pelvic tissues.</p>

        <br>

        <p style="text-align: left;">Early detection of cervical cancer through regular screening with Pap smears and HPV testing is crucial, as early-stage cervical cancer may not cause noticeable symptoms. Effective pain management strategies, including medications, surgical interventions, targeted radiation, and supportive care, are essential to alleviate pain and improve the quality of life for those affected by cervical cancer.
        </p>

        <br>

        <img src="/img/vascular-pelvic-pain-women.png" width="520px" alt="">

        <br>

        <h6 style="font-size: large;">Treatment</h6>
        
        <h4 style="text-align: left;">Treatment for cervical cancer depends on various factors, including the stage of the cancer, the patient's overall health, and their preferences.Here's an overview of common treatment options:</h4>
        <ul style="list-style: none; text-align: left;">
            <li>Surgery</li>
            <li>Radiation Therapy</li>
            <li>Chemotherapy</li>
            <li>Immunotherapy</li>
        </ul>

        <br>

        <h1 style="text-align: left;">NGOs Working for Cervical Cancer in India</h1>
        <ul  style="text-align: left; list-style: none;">
            <a href="https://www.indiancancersociety.org/" target="_blank"><li>Indian Cancer Society</li></a>
            <a href="https://www.bioconfoundation.org/" target="_blank"><li>Biocon Foundation</li></a>
            <a href="https://www.capedindia.org/" target="_blank"><li>Caped(Cancer Awareness, Prevention, and Early Detection Trust)</li></a>
        </ul>

    </div>
</body>
</html>