<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p style="font-weight: bold;">Urinary-Problems</p>
        <br>
        <p style=" text-align: left;">Urinary problems are not typically a direct consequence of cervical cancer, but they can arise in advanced stages of the disease due to its impact on nearby structures and organs. As cervical cancer progresses, the tumor may grow and exert pressure on surrounding tissues, including the bladder and ureters. This compression can impede the normal flow of urine, leading to urinary symptoms such as increased frequency, urgency, or difficulty emptying the bladder completely. Furthermore, if the tumor obstructs the ureters, which are responsible for transporting urine from the kidneys to the bladder, it can result in urinary retention, kidney swelling, and potential kidney dysfunction. Additionally, individuals with advanced cervical cancer may be more susceptible to urinary tract infections due to compromised immune function. </p>
        
        <br>

        <p style="text-align: left;">Moreover, treatments like radiation therapy can sometimes cause inflammation and scarring in the pelvic region, contributing to urinary symptoms. While urinary problems are not inherent to cervical cancer itself, they can arise as complications in later stages of the disease or as side effects of treatment. It is crucial for individuals with cervical cancer to communicate any urinary symptoms to their healthcare providers to receive appropriate management and support. Regular monitoring and comprehensive care by a multidisciplinary team can help address urinary issues effectively, thereby improving the overall quality of life for patients undergoing treatment for cervical cancer.
        </p>

        <br>

        <img src="/img/Be_Cervical_Cancer_Aware_social_tile.jpg" alt="" height="180px" width="200px">

        <br>

        <h1 style="text-align: left;">NGOs Working for Cervical Cancer in India</h1>
        <ul  style="text-align: left; list-style: none;">
            <a href="https://www.indiancancersociety.org/" target="_blank"><li>Indian Cancer Society</li></a>
            <a href="https://www.bioconfoundation.org/" target="_blank"><li>Biocon Foundation</li></a>
            <a href="https://www.capedindia.org/" target="_blank"><li>Caped(Cancer Awareness, Prevention, and Early Detection Trust)</li></a>
        </ul>
    </div>
    
</body>
</html>